################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/CepLocation/.vs/CepLocation/v16/Server/sqlite3/db.lock
/WebApi/.vs/WebApi/v16/Server/sqlite3/db.lock
